<!DOCTYPE html>
<html>
  <head>
    <title>Eelarvestaja</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="container-fluid">

      <header>
          <nav class="navbar fixed-top navbar-light bg-light">
              <a class="navbar-brand" href="/"><img src="/assets/money.png" style="width: 32px; margin-right: 5px">EELARVESTAJA</a>
          </nav>
      </header>
      
      <div class="content">
        <%= yield %>
      </div>
      
      <footer class="fixed-bottom">
          <p>Sandra Õnne 2019</p>
      </footer>

    </div>   
  </body>
</html>
